* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    /* background-image: url('../public/fondo.jpeg');
    background-size: cover;
    background-repeat: no-repeat; */
}

.primario {
    background-color: transparent;
    border: 1px solid white;
    font-weight: 200;
    font-size: 16px;
    color: white;
    border-radius: 0px;
}

.primario:hover {
    background-color: transparent;
    border: 1px solid white;
}

.link-btn {
    color: white;
    text-decoration: none;
}

/* CARDS */
.card {
    width: 22rem;
    margin: 10px 0px;
    border: none;
}

.card img {
    border-radius: 0px;
}

.card .card-title {
    font-weight: 300;
    letter-spacing: 3px;
    margin-bottom: 8px;
}

.card .card-text {
    font-weight: 300;
    margin-top: 16px;
    /* border: 2px solid red; */
}

.card .card-text.card-empresa {
    text-align: end;
}
